.Rproj.user
.Rhistory
.RData
.Ruserdata
output.txt
rslts_one_mil_deal.RDS
rslts_two_mil_deal.RDS
scratch.R
job_simple_probs.csv
job_simple_probs.txt
rslts_100k_simple.RDS
validation.R
poker-hand-training-true.data
poker-hand.names
100k_01.png
100k_02.png
150k_01.png
